<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cvećara</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <h2>Cvećara</h2>
        <ul>
            <li><a href="/">Početna</a></li>
            <li><a href="#">Proizvodi</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>

    <main>
        <h1>Dobrodošli u našu cvećaru 🌸</h1>
        <p>Najlepši buketi za sve prilike</p>
    </main>

</body>
</html>